@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<hr />

<address>
    "SEB Company" Ltd.<br />
    123 Gediminas str., LT-01110 Vilnius<br />
    <abbr title="Phone">P:</abbr>
    +370 5 1234 000
    <abbr title="Fax">F:</abbr>
    +370 5 4321 020
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@gmail.com">support@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@gmail.com">marketing@gmail.com</a><br />
    <strong>Developer:</strong> <a href="mailto:sergej.jegorov@gmail.com">sergej.jegorov@gmail.com</a><br />
</address>
